#projects{
  padding-top:30px;
  padding-bottom:30px;
}



* { box-sizing: border-box; }

/* force scrollbar */
html { overflow-y: scroll; }

body { font-family: sans-serif; }

/* ---- grid ---- */

.grid {
  background: #DDD;
  margin-top:30px;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
  width: 33.333%;
  width: 33.333%;
  position: relative;
}

.grid-item {
  float: left;

}

.grid-item img {
  display: block;
  width: 100%;
  height:250px;
}
.container {
  position: relative;

}

.image {
  display: block;
  width: 100%;

  height: auto;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,.5);

  width: 100%;
  height:0;
  transition: .5s ease;
}


.grid-item:hover .overlay {
  bottom: 0;
  height: 100%;
}
.overlay2 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  overflow:hidden;
  opacity: 0;
  transition: .5s ease;
    background-color: rgba(0,0,0,.5);
}
.grid-item:hover .overlay2 {
    opacity: 1;
}
.text {
  white-space: nowrap;
  color: white;
  font-size: 25px;
  text-align: center;

  position: relative;
  float: left;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -35%);
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  font-family:'Josefin Sans', sans-serif;
}
.overlay2:hover .text {
  opacity: 1;
  top: 20%;


}
.text-body {

  color: white;
  font-size: 15px;
  text-align: center;

  position: relative;
  float: left;
  top: 40%;
  left: 50%;
  width:100%;

  transform: translate(-50%, -35%);
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  font-family:'Josefin Sans', sans-serif;
}
.overlay2:hover .text {
  opacity: 1;
  top: 20%;


}
h3{
  font-family:'Josefin Sans', sans-serif;
}
